doctype html
html(lang="en-us")
  head
    if title
      title= title
    else
      title SMR Academy Dashboard 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet")
    noscript
      link(
        rel="stylesheet",
        media="all",
        href="/stylesheets/noscript.css",
        defer
      )
    // Viewport relativity
    script.
      var viewportmeta = document.querySelector('meta[name="viewport"]');
      if (viewportmeta) {
        if (screen.width < 375) {
          var newScale = screen.width / 375;
          viewportmeta.content = "width=375, minimum-scale=" + newScale + ", maximum-scale=1.0, user-scalable=no, initial-scale=" + newScale + "";
        } else {
          viewportmeta.content = "width=device-width, maximum-scale=1.0, initial-scale=1.0";
        }
      }
    link(rel="preconnect" href="https://unpkg.com/moralis@1.5.8/dist/moralis.js")
    link(rel="preconnect" href="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js")
    link(rel="preconnect" href="//cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js")
    script(src="https://unpkg.com/moralis@1.5.8/dist/moralis.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js")
  body
    #primary_content(
      style="display: flex; flex-direction: column; justify-content: space-between; min-height: 100vh"
    )
      .content
        block content

    // Scripts
    script
      include ../dist/moralis.js
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer)